html
{
	width:100%;
	height:100%;
}
body
{

}
.header-text {
    color: white;
    text-shadow: 0 0 12px #000000;
}

.image-bg-header {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('../images/cat.jpg') no-repeat center center scroll;
    height: 300px;
}
.em
{
	width:500px;
	height:500px;
}


